@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* ----- BASE ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 25px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}

/* button */
.btn {
  font-weight: 500;
  padding: 12px 20px;
  background: #efefef;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
}
.btn > i {
  margin-left: 10px;
}
.btn:hover {
  background: var(--second-color);
  color: var(--color-white);
}

/* icon */
i {
  font-size: 16px;
}

/* body & container */
body {
  background: var(--body-color);
}
.container {
  width: 100%;
  position: relative;
}
