.btn {
  font-weight: 500;
  padding: 12px 20px;
  background: #efefef;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;

  > i {
    margin-left: 10px;
  }

  &:hover {
    background: var(--second-color);
    color: var(--color-white);
  }
}

.featured-text-btn {
  display: flex;
  gap: 20px;

  > .blue-btn {
    background: var(--first-color);
    color: var(--color-white);

    &:hover {
      background: var(--first-color-hover);
    }
  }
}

.about-btn button {
  background: var(--first-color);
  color: var(--color-white);
  border-radius: 30px;

  &:hover {
    background: var(--first-color-hover);
  }
}

.form-button > .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--second-color);
  color: var(--color-white);

  &:hover {
    background: #00b5e7;
  }

  i {
    font-size: 18px;
  }
}
