/* ----- FEATURED BOX ----- */
.featured-box {
  display: flex;
  height: 100vh;
  min-height: 700px;
}

/* featured text */
.featured-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 50%;
  min-height: 80vh;
  padding-left: 20px;

  .featured-text-card span {
    background: var(--third-color);
    color: var(--color-white);
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 5px;
  }
  .featured-name {
    font-size: 50px;
    font-weight: 600;
    color: var(--text-color-second);
    margin-block: 20px;
  }
  .typedText {
    text-transform: capitalize;
    color: var(--text-color-third);
  }
  .featured-text-info {
    font-size: 15px;
    margin-bottom: 30px;
    color: var(--text-color-second);
  }
  .featured-text-btn {
    display: flex;
    gap: 20px;
    .blue-btn {
      background: var(--first-color);
      color: var(--color-white);
      &:hover {
        background: var(--first-color-hover);
      }
    }
  }

  .social_icons {
    display: flex;
    margin-top: 5em;
    gap: 30px;
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
      cursor: pointer;
      &:hover {
        color: var(--first-color);
      }
    }
  }
}

/* featured image */
.featured-image {
  display: flex;
  justify-content: right;
  align-content: center;
  width: 50%;
  min-height: 80vh;

  .image {
    margin: auto 0;
    width: 380px;
    height: 380px;
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;

    img {
      width: 380px;
      object-fit: cover;
    }
  }
}

/* responsive */
@media only screen and (max-width: 1024px) {
  .featured-text,
  .image,
  .image img {
    width: 320px;
    height: 320px;
  }
}
@media only screen and (max-width: 900px) {
  .featured-box {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
  .featured-text {
    width: 100%;
    order: 2;
    justify-content: center;
    align-content: flex-start;
    min-height: 60vh;
  }
  .social_icons {
    margin-top: 2em;
  }
  .featured-image {
    order: 1;
    justify-content: center;
    min-height: 150px;
    width: 100%;
    margin-top: 65px;
  }
  .image,
  .image img {
    width: 150px;
    height: 150px;
  }
}
