/* ----- FOOTER ----- */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  background: #f8f8f8;
  padding-block: 40px 60px;

  .middle-footer .footer-menu {
    display: flex;

    .footer_menu_list {
      list-style: none;
      a {
        text-decoration: none;
        color: var(--text-color-second);
        font-weight: 500;
        margin-inline: 20px;
      }
    }
  }

  .footer-social-icons {
    display: flex;
    gap: 30px;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  .bottom-footer {
    font-size: 14px;
    margin-top: 10px;
  }
}
