/* ----- GRID (作品集) ----- */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;

  > .item {
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    h4 {
      margin: 0;
      font-size: 1.5rem;
    }
    strong {
      font-weight: normal;
      color: var(--text-color-second);
    }
    i {
      display: none;
    }

    &:hover {
      cursor: pointer;
      border: 2px solid var(--first-color-hover);
      h4,
      strong {
        color: var(--first-color-hover);
      }
      i {
        display: block;
        margin-top: 10px;
        color: var(--first-color-hover);
      }
    }
  }
}

/* link */
a {
  text-decoration: inherit;
  color: inherit;
}
