nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  line-height: 90px;
  background: var(--body-color);
  padding-inline: 9vw;
  transition: 0.3s;
  z-index: 100;

  .nav-logo {
    position: relative;

    span {
      position: absolute;
      top: -15px;
      right: -20px;
      font-size: 5em;
      color: var(--text-color-second);
    }

    .nav-name {
      font-size: 30px;
      font-weight: 600;
      color: var(--text-color-third);
    }
  }

  .nav-menu,
  .nav_menu_list {
    display: flex;

    .nav_list {
      list-style: none;
      position: relative;
    }
  }

  .nav-link {
    text-decoration: none;
    color: var(--text-color-second);
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
  }

  .active-link {
    position: relative;
    color: var(--first-color);
    transition: 0.3;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -15px;
      transform: translate(-50%, -50%);
      width: 5px;
      height: 5px;
      background: var(--first-color);
      border-radius: 50%;
    }
  }
}
