.section {
  padding-block: 6em;

  .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;

    .col {
      display: flex;
      width: 50%;
    }
  }

  .top-header {
    text-align: center;
    margin-bottom: 5em;

    h1 {
      font-weight: 600;
      color: var(--text-color-second);
      margin-bottom: 10px;
    }

    span {
      color: #999;
    }
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color-second);
    margin-bottom: 15px;
  }

  .about-info,
  .education {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 30px 70px;
    padding-inline: 20px;
    width: 100%;
    background: var(--color-white);
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    border-radius: 20px;

    p {
      font-size: 15px;
      color: #777;
    }
  }

  .about-btn button {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }

  .resume-item {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: var(--text-color-second);
    position: relative;

    &::before {
      box-sizing: border-box;
      content: "";
      position: absolute;
      margin-top: 2px;
      left: -8px;
      width: 16px;
      height: 16px;
      border-radius: 50px;
      background-color: var(--first-color);
    }
  }

  .skills-box {
    margin: 10px;

    .skills-header {
      margin-bottom: 30px;
    }

    .skills-list {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;

      span {
        font-size: 14px;
        background: var(--first-color);
        color: var(--color-white);
        padding: 2px 10px;
        border-radius: 5px;
      }
    }
  }

  .skills-container {
    display: flex;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;

    .skill-item {
      flex-basis: calc(50% - 20px);
      display: flex;
      flex-direction: column;
      gap: 5px;

      .skill {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .progress-bar-wrap {
        height: 10px;
        border: 1px solid #ccc;
      }

      .progress-bar {
        height: 10px;
        background-color: var(--first-color);
      }
    }
  }

  .contact-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    width: 100%;
    height: 315px;
    background: var(--second-color);
    border-radius: 10px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    overflow: hidden;

    h2 {
      color: var(--color-white);
      margin-bottom: 20px;
    }

    p {
      display: flex;
      align-items: center;
      gap: 10px;
      color: var(--color-white);
      margin-block: 5px;

      > i {
        font-size: 18px;
      }
    }
  }

  .form-control {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .form-inputs {
    display: flex;
    gap: 10px;
    width: 100%;
  }

  .input-field {
    width: 50%;
    height: 55px;
    background: transparent;
    border: 2px solid #aaa;
    border-radius: 10px;
    padding-inline: 20px;
    outline: none;
  }

  textarea {
    width: 100%;
    height: 250px;
    background: transparent;
    border: 2px solid #aaa;
    border-radius: 10px;
    padding: 15px 20px;
    outline: none;
    resize: none;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    background: #f8f8f8;
    padding-block: 40px 60px;

    .top-footer p {
      font-size: 25px;
      font-weight: 600;
    }

    .middle-footer .footer-menu {
      display: flex;

      .footer_menu_list {
        list-style: none;

        a {
          text-decoration: none;
          color: var(--text-color-second);
          font-weight: 500;
          margin-inline: 20px;
        }
      }
    }

    .footer-social-icons {
      display: flex;
      gap: 30px;
    }

    .bottom-footer {
      font-size: 14px;
      margin-top: 10px;
    }
  }
}
